@page "/"

<PageTitle>Blazor File Manager</PageTitle>

@using Humanizer
@using ByteSizeLib
@inject FileManager _fileManager
@inject DialogService DialogService

@if (_items == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
                 Gap="1rem" Wrap="FlexWrap.Wrap" class="mb-2" Style="height: 5vh">
        <RadzenButton Click=@(() => CreateNewFolder()) Text="Add New Folder"
                      Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Click=@(args => DialogService.Confirm("Are you sure?", "MyTitle", new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" })) Text="Delete Folder"
                      Icon="delete_forever" ButtonStyle="ButtonStyle.Primary" />
        @if (_errorMessage is not null)
        {
            <RadzenAlert Variant="Variant.Flat" AlertStyle="AlertStyle.Warning" Style="width: auto;"
                         Shade="Shade.Lighter" Size="AlertSize.ExtraSmall" AllowClose=true>
                @_errorMessage
            </RadzenAlert>
        }
    </RadzenStack>

    <RadzenSplitter Orientation="Orientation.Vertical" style="height: 88vh; border: 1px solid rgba(0,0,0,.08);">
        <RadzenSplitterPane Size="100px">
            <RadzenSplitter>
                <RadzenSplitterPane Size="60%" Min="20%" Max="80%">
                    <RadzenDataGrid Data="@_currentFolder.InnerItems" TItem="FileSystemItemViewModel"
                                    AllowVirtualization="true" Style="height:88vh"
                                    GridLines="DataGridGridLines.Vertical"
                                    AllowSorting="true" AllowColumnResize="true"
                                    CellClick="@OnCellClick" CellDoubleClick="OnCellDoubleClick">
                        <Columns>
                            <RadzenDataGridColumn TItem="FileSystemItemViewModel" Property="Name" Title="Name">
                                <Template Context="item">
                                    @item.Name
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="FileSystemItemViewModel"
                                                  Property="Extension" Title="Ext" MinWidth="10%" Width="10%" />
                            <RadzenDataGridColumn TItem="FileSystemItemViewModel"
                                                  Property="Size" Title="Size" MinWidth="10%" Width="10%" />
                            <RadzenDataGridColumn TItem="FileSystemItemViewModel"
                                                  Property="ModifiedDate" Title="Date" Width="20%" />
                        </Columns>
                    </RadzenDataGrid>
                </RadzenSplitterPane>
                <RadzenSplitterPane>
                    Preview
                    <div style="font-size: 10px;">
                        50% Min 30px Max 70%
                    </div>
                </RadzenSplitterPane>
            </RadzenSplitter>
        </RadzenSplitterPane>
    </RadzenSplitter>
}

