@page "/"

<PageTitle>Blazor File Manager</PageTitle>

@using Humanizer
@using ByteSizeLib
@using BlazorFileManager.Data
@inject WeatherForecastService ForecastService
@inject FileManager _fileManager

@if (_items == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" 
                 Gap="1rem" Wrap="FlexWrap.Wrap" class="mb-2" Style="height: 5vh">
        <RadzenButton Click=@(() => Console.WriteLine("b1 click")) Text="Add New Folder" 
                      Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Click=@(() => Console.WriteLine("b2 click")) Text="Delete Folder" 
                      Icon="delete_forever" ButtonStyle="ButtonStyle.Primary" />
    </RadzenStack>


    <RadzenSplitter Orientation="Orientation.Vertical" style="height: 88vh; border: 1px solid rgba(0,0,0,.08);">
        <RadzenSplitterPane Size="100px">
            <RadzenSplitter>
                <RadzenSplitterPane Size="60%" Min="20%" Max="80%">
                    <RadzenDataGrid Data="@_items" TItem="FileSystemDisplayItem"
                                    AllowVirtualization="true" Style="height:88vh" 
                                    GridLines="DataGridGridLines.Vertical"
                                    AllowSorting="true" AllowColumnResize="true"
                                    CellClick="@OnCellClick" CellDoubleClick="OnCellDoubleClick">
                        <Columns>
                            <RadzenDataGridColumn TItem="FileSystemDisplayItem" Property="Name" Title="Name">
                                <Template Context="item">
                                    @item.Name
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="FileSystemDisplayItem"
                                                  Property="Extension" Title="Ext" MinWidth="10%" Width="10%" />
                            <RadzenDataGridColumn TItem="FileSystemDisplayItem"
                                                  Property="Size" Title="Size" MinWidth="10%" Width="10%" />
                            <RadzenDataGridColumn TItem="FileSystemDisplayItem"
                                                  Property="ModifiedDate" Title="Date" Width="20%" />
                        </Columns>
                    </RadzenDataGrid>
                </RadzenSplitterPane>
                <RadzenSplitterPane>
                    Preview
                    <div style="font-size: 10px;">
                        50% Min 30px Max 70%
                    </div>
                </RadzenSplitterPane>
            </RadzenSplitter>
        </RadzenSplitterPane>
    </RadzenSplitter>
}

